<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <link rel="stylesheet" href="./main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <audio ref="audio" id="music" src="" preload loop id="audio" autoplay="autoplay"></audio>

    <div id="app">
        <video autoplay muted loop id="myVideo" style="position: absolute; width: 100%; z-index: -1;"
            v-if="videoVisible">
            <source :src="videoLink" type="video/mp4">
        </video>

        <img src="./assets/img/background.png" style="position: absolute; width: 100%; z-index: -1;"
            v-if="!videoVisible" alt="">

        <img id="cursor" src="assets/img/cursor.png" :style="{ top: cursor.x + 'px', left: cursor.y + 'px' }">

        <div class="main-box">
            <div class="box">
                <div class="header">
                    <div class="logotype-box">
                        <div class="logotype"><img src="./assets/img/logotype.png" alt="logotype"></div>
                        <div class="logotype-text-box">
                            <div class="logotype-title">ARKAY RolePlay</div>
                            <div class="white-line"></div>
                            <div class="logotype-desc">Hoşgeldiniz</div>
                        </div>
                    </div>

                    <div class="sub-boxes">
                        <div class="sub-box">
                            <div class="sub-box-icon"><img src="./assets/img/teamspeak.svg" alt=""></div>
                            <div class="subb-box">
                                <div class="subb-header" @click="copyLink('left')">SES</div>
                                <div class="subb-footer">{{ copy.left.text }}</div>
                            </div>
                        </div>

                        <div class="sub-box" style="margin-bottom: -3px;">
                            <div class="sub-box-icon"><img src="./assets/img/discord.svg" alt=""></div>
                            <div class="subb-box">
                                <div class="subb-header" @click="copyLink('middle')">DISCORD</div>
                                <div class="subb-footer">{{ copy.middle.text }}</div>
                            </div>
                        </div>

                        <div class="sub-box">
                            <div class="sub-box-icon"><img src="./assets/img/web.svg" alt=""></div>
                            <div class="subb-box">
                                <div class="subb-header" @click="copyLink('right')">TIKTOK</div>
                                <div class="subb-footer">{{ copy.right.text }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="controls-music-box">
                        <div class="controls-box">
                            <div class="invisible-box">
                                <div class="music-icon"><img src="./assets/img/audio.svg" alt=""></div>
                                <div class="music-on" id="onmusic" @click="startMusic()">Açık</div>
                                <div class="music-on active-on" id="offmusic" @click="stopMusic()">Kapalı</div>
                                <div class="music-volume"><span style="color: rgb(240, 248, 255, 0.6);">Ses
                                        Düzeyi</span> {{ (musicVolume * 100).toFixed(0) }}%</div>
                            </div>

                            <div class="invisible-box">
                                <div class="right-icon" @click="videoVisible = !videoVisible; startVideo()"><img
                                        src="./assets/img/right.svg" alt=""></div>
                                <div class="music-on active-on" id="onvideo" @click="startVideo()">Açık</div>
                                <div class="music-on" id="offvideo" @click="stopVideo()">Kapalı</div>
                            </div>
                        </div>

                        <input type="range" min="0" max="1" step="0.01" class="volume-line" v-model="musicVolume"
                            @input="updateMusicVolume()" />
                    </div>

                    <div class="text-box">
                        <div class="text-line"></div>
                        <div class="text">{{ infotext }}</div>
                    </div>
                </div>
            </div>

            <div class="box-scroll">
                <div class="ava-box" v-for="(item, index) in teamlist">
                    <div class="avatar-box">
                        <div class="avatar-header">
                            <div class="avatar-header-title">Nick-Name: <span
                                    style="font-weight: 800; font-size: 20px;">{{ item.nickname }}</span></div>
                            <div class="white-line"></div>
                        </div>

                        <div class="avatar-footer">
                            <div class="avarar-info-box">
                                <div class="avatar-info-title">{{ item.discord }}</div>
                                <div class="avatar-info-desc">{{ item.teamrole }}</div>
                            </div>

                            <div class="avatar-button-box"><img src="./assets/img/computer.svg" alt=""></div>
                        </div>
                    </div>

                    <div class="avatar-box">
                        <img :src="item.icon" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="loading-box">
            <div class="loading-info">
                <div class="loading-icon"><img src="./assets/img/loading.svg" alt=""></div>
                <div class="loading-text"><span id="percent">0</span> <span style="color: rgb(240, 248, 255, 0.6);">/
                        100%</span></div>
            </div>

            <div class="loading-line">
                <div class="loading-active-line" id="progress"></div>
            </div>
        </div>
    </div>

    <script src="./config.js" type="text/javascript"></script>
    <script src="./main.js" type="text/javascript"></script>
</body>

</html>