artifact/
ed.zip
files/.replxx_history
files/cache/
files/db/
files/localhost
files/resources/.dcdignore
files/resources/.vscode/
files/resources/[Assets]/[malikane-ev]/malikane.zip
files/resources/guntest/
