.voiceInfo {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    position: fixed;
    text-align: right;
    bottom: 5px;
    padding: 0;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #94969700;
}

.talking {
    color: #94969700;
}

p {
    margin: 0
}