@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Balthazar&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'Verdana';
    src: url('../verdana.ttf');
}

@font-face {
    font-family: 'Verdana Bold';
    src: url('../VerdanaBold.ttf');
}


p {
    margin: 0 !important;
}

:root {
    --main-label-color: 20, 10, 20;  
}

/* rgb() */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-scrollbar
{
    width: 5px;
}

::-webkit-scrollbar-thumb
{
    background: #1114199f;
}

#progressbar {
    width: 146%;
    margin-top: -2.0%;
    background-color: rgb(39 39 49);
}

.pro {
    background: linear-gradient(to right, rgb(39, 174, 96), #f37979 500px);
    height: 5px;
    max-width: 100%;
    transition: width 1s, background-color 1s;
}

.pro1 {
    background: linear-gradient(to right, rgb(39, 174, 96), #f37979 500px);
    height: 5px;
    max-width: 100%;
    transition: width 1s, background-color 1s;
}

.weight-img {
    margin-top: 0.6%;
    width: 4%;
    right: -14%;
    position: absolute;
}

.weight-img-other {
    margin-top: 0.6%;
    width:4%;
    right: -12%;
    position:absolute;
}

body {
    overflow-x: hidden;
}

#qbus-inventory {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0vw;
    display: none;
    user-select: none;
}

.inv-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@keyframes axis {
    from {
      margin-top:100%;
    }
    to {
        margin-top:0%;
    }
}
.inv-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.player-inventory-bg {
    position: absolute;
    float: left;
    top: 24%;
    left: 15.2%;
    width: 29.25%;
    max-width: 29.25%;
    height: 55%;
    max-height: 55%;
    background: #222831d1;
    border-radius: 2px;
}

.player-inventory {
    position: absolute;
    top: 27.2%;
    left: 16.0%;
    width: 28.05%;
    max-width: 28.05%;
    height: 49.16%;
    max-height: 49.16%;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
}

.other-inventory-bg {
    position: absolute;
    top: 24%;
    float: right;
    right: 15.55%;
    margin: 0 auto;
    width: 29.15%;
    max-width: 29.5%;
    height: 55%;
    max-height: 55%;
    background: #222831d1;
    border-radius: 2px;
}

.other-inventory {
    position: absolute;
    top: 27.2%;
    right: 15.9%;
    width: 28.05%;
    max-width: 28.05%;
    height: 49.16%;
    max-height: 49.16%;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
}

.player-clothes {
    position: absolute;
    top: 25.0%;
    left: 44.3%;
    width: 11%;
    max-width: 28.05%;
    height: 65.85%;
    max-height: 65.85%;
    float: left;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    z-index: 1;
    background-color: #222831d1;
    margin-top: -5%;
    display: none;
}

.player-kupon {
    position: absolute;
    top: 32.9%;
    left: 44.3%;
    width: 11%;
    max-width: 28.05%;
    height: 34.85%;
    max-height: 65.85%;
    float: left;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    z-index: 1;
    background-color: #222831d1;
    margin-top: -5%;
    display: none;
}

.player-anahtar {
    position: absolute;
    top: 25.0%;
    left: 44.3%;
    width: 11%;
    max-width: 28.05%;
    height: 65.85%;
    max-height: 65.85%;
    float: left;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    z-index: 1;
    background-color: #222831d1;
    margin-top: -5%;
    display: none;
}

.other-player-clothes {
    position: absolute;
    top: 25.0%;
    left: 44.7%;
    width: 11%;
    max-width: 28.05%;
    height: 71.8%;
    max-height: 75%;
    float: left;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    z-index: 1;
    background-color: #222831d1;
    margin-top: -5%;
    display: none;
}

#clothes-inv-label {
    position: relative;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    letter-spacing: 0.1vh;
    text-align: center;
    margin-left: 5.5vh;
    text-transform: uppercase;
    right: 14%;
}

#kupon-inv-label {
    position: relative;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    letter-spacing: 0.1vh;
    text-align: center;
    margin-left: 5.5vh;
    text-transform: uppercase;
    right: 14%;
}

#anahtar-inv-label {
    position: relative;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    letter-spacing: 0.1vh;
    text-align: center;
    margin-left: 5.5vh;
    text-transform: uppercase;
    right: 14%;
}

#other-clothes-inv-label {
    position: relative;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    letter-spacing: 0.1vh;
    text-align: center;
    margin-left: 5.5vh;
    text-transform: uppercase;
    right: 14%;
}

.clothes-close {
    position: relative;
    float: left;
    right: 14%;
    color: white;
}

.kupon-close {
    position: relative;
    float: left;
    right: 14%;
    color: white;
}

.anahtar-close {
    position: relative;
    float: left;
    right: 14%;
    color: white;
}

.ply-hotbar-inventory {
    position: absolute;
    bottom: 10%;
    left: 35.5%;
    z-index: 105;
}

.player-inventory > .item-slot > .item-slot-key p {
    position: absolute;
    font-weight: 400;
    color: hsl(0deg 0% 0% / 15%);
    padding-top: 4.7vh;
    padding-bottom: 0px;
    padding-left: 2.95vh;
    text-align: left;
    font-size: 6vh;
    line-height: 1.8vh;
    font-family: 'Roboto', sans-serif !important;
}

.inv-options {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: auto;
    margin-top: 20%;
    margin-left: 44.9%;
    background: #222831d1;
    right: 0px;
    width: 10%;
    left: 3vh;
    border-radius:3px;
}

.inv-options2 {
    margin: 22% auto;
    background-color: rgba(22, 30, 42, 0.65);
    right: 0;
    width: 9.5%;
    left: 3vh;
    border-radius:4px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.combine-option-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 9%;
    top: 60%;
    left: 3vh;
}

.item-slot {
    position: relative;
    width: 9.55vh;
    height: 10.5vh;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgb(102 102 113 / 30%);
    margin: 1px;
    transition: opacity 0.2s ease 0s;
    z-index: 1;
}

/* .other-inventory > .item-slot {
    background-color: rgba(61, 11, 11, 0.075);
} */

.item-slot-hoverClass {
    opacity: .7;
}

.item-slot:hover {
    background-color: rgb(48 48 56 / 30%) !important;
}

.clothes-slot {
    position: relative;
    width: 9.55vh;
    height: 11.5vh;
    top:4px;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    border: .3px solid rgba(0, 0, 0, 0.0);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 6px 6px ;
    transition: opacity 0.2s;
    opacity: 1.0;
    z-index:2;
}

.clothes-slot:hover {
    border: .3px solid white;
}

.inv-option-item {
    margin-top: 10%;
}

#other-clothes {
    display: none;
}

.btn-inv {
    width: 100%!important;
    max-width: 100%!important;
    padding: 10%!important;
    background-color: rgba(235, 235, 235, 0);
}

#item-amount {
    color: white;
    text-align: center;
    font-size: 1.25vh;
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
    outline: none;
}

.ammo-info-block {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 22vh;
    height: 11vh;
    background-color: rgba(235, 235, 235, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.01);
    top: 2vh;
}
.ammo-info-header {
    /* background-color: rgba(5, 5, 5, 0.5); */
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif !important;
    background-color: rgba(0, 0, 0, 0.192);
    font-size: 1.vh;
    padding: .4vh;
    text-align: center;
}
.ammo-info {
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 200;
    font-size: 1.vh;
    margin-left: .8vh;
    margin-top: .4vh;
    margin-bottom: .25vh;
    top: .6vh;
}
.ammo-info span {
    margin-right: 1vh;
    float: right;
}

.inv-option-item > p {
    color: white;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 1.1vh;
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
}

.inv-option-item {
    margin-top: 4%;
    width: 100%;
    height: 50px;
    margin-left: 0%;
    background-color: rgb(102 102 113 / 61%) !important;
    border: none;
    color: white;
    transition: background-color .1s linear;
    border-radius: 0px!important;
    cursor: auto;
}

.inv-option-item:hover {
    background-color: #5c5c6c;
}

.btn-combine {
    position: relative;
    margin-top: 20%;
    width: 80%;
    height: 50px;
    background-color:  #466887; /* rgba(20, 20, 20, 0.5) */
    border: 1px solid rgba(255, 255, 255, 0.01);
    color: white;
    transition: background-color .1s linear;
    border-radius: 7px;
}

.btn-combine > p {
    color: white;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 1.1vh;
    font-family: 'Verdana Bold';
}

.btn-combine:hover {
    background-color:transparent; /* rgba(20, 20, 20, 0.5) */
}

.item-slot-amount {
    position: absolute;
    bottom: 0.6vh;
    left: 0.2vw;
}

.item-slot-amount p {
    color: #ffffff;
    text-align: right;
    font-size: 1.05vh;
    font-weight: 400;
    cursor: none;
}

.item-slot-amount > p:after {
    content: "x"
}

.item-slot-name {
    position: absolute;
    bottom: 0.6vh;
    right: 0.2vw;
}

.item-slot-name > p {
    color: #ffffff;
    text-align: right;
    font-size: 1.05vh;
    font-weight: 400;
    cursor: none;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.item-slot-label {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: transparent;
}

.item-slot-label p {
    font-weight: 400;
    padding: 2.5px;
    padding-left: 4px;
    color: white;
    font-size: 1.1vh;
    text-align: left;
    letter-spacing: 0px;
    font-family: 'Roboto', sans-serif !important;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: none;
}

.item-slot-quality {
    position: absolute;
    bottom: 0.1vh;
    width: 100%;
    height: 0.3vh;
    background-color: rgba(32, 6, 6, 0.0);
}

.item-slot-quality-bar {
    position: absolute;
    width: 0%;
    height: 150%;
    background-color: rgb(39, 174, 96);
    z-index: 1;
}

.item-slot-quality p {
    color: transparent;
    /* font-variant: small-caps; */
}

.item-slot-img {
    max-width: 100%;
    max-height: 100%;
    padding: 1.4vw;
}

.item-slot-img img {
    display:block;
    position: relative;
    margin: 0 auto;
    margin-top: 20%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.ui-draggable-dragging {
    background: rgba(0, 0, 0, 0.3);
}

.player-inv-info {
    position: absolute;
    left: 16.1%;
    top: 25.0%;
    width: 18.7%;
    z-index:1000;
    cursor:none;
}

#player-inv-label {
    position: relative;
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600;
    letter-spacing: 0.01vh;
    left: 0px;
    bottom: 5px;
    float: left;
    text-transform: normal;
    cursor: none;
}

#player-inv-weight {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.1vh;
    bottom: 25px;
    right: -45%;
    float: right;
}

#other-inv-label {
    position: relative;
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600;
    letter-spacing: 0.01vh;
    left: 0px;
    bottom: 5px;
    float: left;
    text-transform: normal;
    cursor: none;
}

#other-inv-weight {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.1vh;
    bottom: 25px;
    right: -45.5%;
    float: right;
}

.other-inv-info {
    position: absolute;
    left: 56.1%;
    top: 25.0%;
    width: 18.7%;
    z-index:1000;
    cursor:none;
}

.ply-iteminfo-container {
    display: none;
    background: #222831d1;
    border-radius: 3px;
    color: rgba(220, 220, 220, 1);
    border: 1px solid rgba(255, 255, 255, 0.02);
    font-size: 1.35vh;
    font-weight: 0;
    left: 41%;
    max-height: 25%;
    min-height: 50px;
    overflow: hidden;
    padding: 1%;
    pointer-events: none;
    position: absolute;
    text-decoration: none;
    top: 50%;
    transition: opacity 0.6s ease;
    width: 13%;
    z-index: 10000;
}

.item-info-title {
    text-transform: normal;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 1.6vh;
    letter-spacing: 0.3px;
    line-height: 1.5;
    color: white;
    font-family: 'Roboto', sans-serif !important;
    padding-left: 5px;
}

.item-info-line {
    position: absolute;
    font-family: 'Roboto', sans-serif !important;
    width: 85%;
    background-color: #6d6d6d96;
    height: 0.23vh;

}

.item-info-description {
    text-transform: normal;
    font-size: 1.1vh;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.3px;
    font-family: 'Roboto', sans-serif !important;
    color: white;
    padding-left: 5px;
    padding-top: .5vh;
}

.itemboxes-container {
    height: 120px;
    min-width: 35px;
    max-width: 40vh;
    width: fit-content;
    position: absolute;
    left: 47%;
    bottom: 15%;
    overflow: hidden;
}

.template {
    display: none;
}

.itembox-container {
    display: none;
    position: relative;
    float: left;
    margin: 0 auto;
    margin-right: 1vh;
    width: 10vh;
    height: 11vh;
    background: #222831d1;
}

#itembox-action {
    position: absolute;
    color: white;
    border-top-left-radius: 1px;
    padding: 4px;
    top: 0;
    left: 0;
}

#itembox-action > p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif !important;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

#itembox-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 174, 96);
    height: 0.3vh;
}

#itembox-label > p {
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    top: -25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.requiredItem-container {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.requiredItem-box {
    position: relative;
    top: 70%;
    left: 42%;
    width: 10vh;
    height: 11vh;
    float: left;
    margin-left: 20px;
    background: #222831d1;
}

#requiredItem-action {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    padding: 3px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif !important;
}

#requiredItem-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 174, 96);
    height: 0.3vh;
}

#requiredItem-label > p {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    top: -25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.z-hotbar-inventory {
    display: none;
    position: absolute;
    bottom: 1%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: fit-content;
    z-index: 105;
}

.z-hotbar-inventory > .z-hotbar-item-slot > .z-hotbar-item-slot-key p {
    position: absolute;
    color: #000000;
    font-size: 7vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.15;
    font-weight: 300;
    text-align: center;
    pointer-events: none;
}

.z-hotbar-item-slot {
    position: relative;
    width: 9.5vh;
    height: 10.5vh;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    margin: 3px;
    transition: opacity 0.2s;
    opacity: 1.0;
    background: #222831d1;
    z-index: 9999;
}

.z-hotbar-item-slot-amount {
    position: absolute;
    bottom: 0.6vh;
    left: 0.35vw;
}

.z-hotbar-item-slot-amount p {
    color: #ffffff;
    text-align: left;
    font-size: 12px;
}

.z-hotbar-item-slot-amount > p:after {
    content: "x";
}

.z-hotbar-item-slot-amount-name {
    position: absolute;
    bottom: 0.6vh;
    right: 0.35vw;
}

.z-hotbar-item-slot-amount-name > p {
    color: #ffffff;
    text-align: right;
    font-size: 12px;
}

.z-hotbar-item-slot-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    min-height: 2.2vh;
    height: fit-content;
}

.z-hotbar-item-slot-label p {
    color: rgb(247, 247, 247);
    font-size: 11.5px;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif !important;
    font-variant: small-caps;
}

.z-hotbar-item-slot-img {
    max-width: 100%;
    max-height: 100%;
    padding: 0.8vw;
}

.z-hotbar-item-slot-img img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 11%;
    left: -3%;
    width: auto;
    height: auto;
    max-width: 65px;
    max-height: 100%;
}

.ammo-container {
    position: absolute;
    background-color: rgba(20, 18, 32, 0.2);
    width: 3.25%;
    height: 44.16%;
    top: 26%;
    left: 6%;
}

.ammo-container-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: rgba(120, 10, 20, 0.5);
    text-align: center;
    color: rgba(216, 216, 216, 0.897);
}

.ammo-container-header > i {
    line-height: 5vh;
    font-size: 1.8vh;
}

.ammo-box {
    position: relative;
    width: 100%;
    height: 6vh;
    top: 5vh;
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: .5vh;
    margin-top: .5vh;
}

.ammo-box > img {
    position: absolute;
    top: .15vh;
    left: .2vh;
    width: 5.25vh;
    opacity: .25;
}

.ammo-box > span {
    position: absolute;
    color: rgba(255, 255, 255, 0.95);
    font-size: .93vh;
    bottom: 0;
    right: 0;
    margin: .3vh;
    font-family: 'Roboto', sans-serif !important;
}

.ammo-box-amount {
    position: absolute;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.4);
    bottom: 0;
    max-height: 100%;
}

#pistol_ammo > .ammo-box-amount {
    height: 0%;
}

#smg_ammo > .ammo-box-amount {
    height: 0%;
}

#shotgun_ammo > .ammo-box-amount {
    height: 0%;
}

#rifle_ammo > .ammo-box-amount {
    height: 0%;
}

/* Weapon Attachments */

.weapon-attachments-container {
    position: absolute;
    left: -100vw;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.weapon-attachments-container-title {
    position: absolute;
    margin: 5vh;
    font-size: 3vh;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif !important;
}

.weapon-attachments-container-description {
    position: absolute;
    margin: 5vh;
    top: 5vh;
    font-size: 1.7vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif !important;
}

.weapon-attachments-container-details {
    position: absolute;
    margin: 5vh;
    top: 9vh;
    font-size: 1.4vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif !important;
}

.weapon-attachments-container-detail-durability {
    height: 1.5vh;
    width: 10vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1px;
}

.weapon-attachments-container-detail-durability-total {
    height: 100%;
    width: 50%;
    background-color: rgb(39, 174, 96);
}

.weapon-attachments-container-image {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 32%;
    width: 50%;
}

.weapon-attachments {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5vh;
    width: 50vh;
    height: 12.5vh;
}

.weapon-attachments-title {
    position: absolute;
    bottom: 14vh;
    left: 0;
    margin: 5vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.4vh;
}

.weapon-attachment {
    position: relative;
    height: 12.5vh;
    width: 10.5vh;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(75, 75, 75);
    margin-right: 1vh;
    float: left;
    transition: .05s linear;
}

.weapon-attachment:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(29, 29, 29);
    transition: .05s linear;
}

.weapon-attachment-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(var(--main-label-color), 0.3);
    padding: 2.1%;
}

.weapon-attachment-label > p {
    color: #ffffff;
    font-size: 1.1vh;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.9vh;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100;
}

.weapon-attachment-img {
    max-width: 100%;
    max-height: 100%;
    padding: 0.5vw;
}

.weapon-attachment-img > img {
    display:block;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.weapon-attachments-remove {
    position: absolute;
    width: 6.5vh;
    height: 6.5vh;
    background-color: rgb(15, 15, 15);
    border-radius: 1vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20vh;
    text-align: center;
    color: white;
    font-size: 2vh;
    transition: background-color .05s linear;
}

.weapon-attachments-remove:hover {
    background-color: rgb(18, 18, 18);
}

.weapon-attachments-remove > i {
    line-height: 6.5vh;
}

.weapon-attachments-remove-hover {
    background-color: rgb(39, 174, 96);
}

.weapon-dragging-class {
    animation: ShakeEffect .75s;
    animation-iteration-count: infinite;
}

@keyframes ShakeEffect {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.weapon-attachments-back {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10vh;
    height: 6vh;
    margin: 5vh;
    background-color: rgb(15, 15, 15);
    border-radius: .2vh;
    text-align: center;
    line-height: 6vh;
    color: white;
    font-family: 'Source Code Pro', monospace;
    transition: .05s linear;
}

.weapon-attachments-back:hover {
    background-color: rgb(18, 18, 18);
}


body .near-players-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 0;
  overflow: hidden;
  display: none;
  z-index: 200;
}

body .near-players-wrapper .near-players-list {
    width: 300px;
    /* height: fit-content; */
    height: 35.0vh;
    background: #222831e8;
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* border: 1px solid #b3b6bb; */
    z-index: 1000;
}

body .near-players-wrapper .near-players-list .popup-header {
  /* background: rgba(0, 0, 0, 0.75); */
  border-bottom: 1px solid #b3b6bb;
}

body .near-players-wrapper .near-players-list .popup-header .popup-header-text {
    display: inline-block;
    width: 90%;
    padding: 10px;
    color: fff;
    font-size: 12px;
    letter-spacing: 1.0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-variant: small-caps;
    left: 1.5vh;
    position: relative;
}

body .near-players-wrapper .near-players-list .popup-header .exit-popup {
    display: inline-block;
    width: fit-content;
    margin-left: auto;
    padding: 10px;
    width: 10%;
    text-align: right;
    color: #ffffff;
}

body .near-players-wrapper .near-players-list .popup-header .exit-popup:hover {
  transition: all ease-in 0.15s;
  filter: brightness(0.7);
}

body .near-players-wrapper .near-players-list .popup-body {
  padding: 5px;
  max-height: 660px;
  overflow-y: auto;
  overflow-x: hidden;
}

body .near-players-wrapper .near-players-list .popup-body::-webkit-scrollbar-track {
  background-color: none;
  border: none;
}

body .near-players-wrapper .near-players-list .popup-body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

body .near-players-wrapper .near-players-list .popup-body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.38);
  border: 2px solid rgba(255, 255, 255, 0.38);
}

body .near-players-wrapper .near-players-list .popup-body .player, body .near-players-wrapper .near-players-list .popup-body {
    width: 100%;
    /* height: 50px; */
    line-height: 30px;
    
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-variant: small-caps;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #25496c80;
    margin-bottom: 5px;
    color: #000;
    font-size: 1.5vh;
}

body .near-players-wrapper .near-players-list .popup-body .player:hover, body .near-players-wrapper .near-players-list .popup-body {
  filter: brightness(0.7);
  transition: all ease-in 0.15s;
}

body .near-players-wrapper .near-players-list .popup-body .player:last-child, body .near-players-wrapper .near-players-list .popup-body {
  margin-bottom: 0 !important;
}
